@model IEnumerable<SozialWeb.Models.FriendRequest>

@{
    ViewBag.Title = "SeeFriendRequests";
}

<h2>SeeFriendRequests</h2>

<table class="table">
    <tr>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            ID: @item.ID<br />
            Reciver: @item.requestReciver.Name<br />
            Sender: @item.requestSender.Name <br />
            @Html.ActionLink("Accept request", "AcceptFriendRequest", "Test", new { Id = item.ID }, null)
          
        </td>
    </tr>
}

</table>
