@model SozialWeb.Models.FriendRequest

@{
    ViewBag.Title = "SendFriendRequest";
}

<h2>Send Friend Request</h2>
<p> Request was sent</p>
<p>
    @Html.ActionLink("Back to List", "SearchView", "Search")
</p>
