@using SozialWeb.Models
@model IEnumerable<SozialWeb.Models.Post>
        <script src="~/Scripts/ajax.js" type="text/javascript"></script>
                    

    @{
        ViewBag.Title = "TestHome";
    }

    <h2>TestHome</h2>

    @using (Html.BeginForm("AddPost", "Test"))
    {
       
        <fieldset>
            <legend>Bæta við athugasemd</legend>
            <div class="form-group">
                <label for="" class="control-label">Texti:</label>
                <input type="text" name="text" class="form-control" />
            </div>
            <input type="submit" class="btn btn-primary" value="Senda inn" />
        </fieldset>
    }

    <div id="post-list">
        <hr />
        <h3>Athugasemdir <span class="badge">Model.count - todo</span></h3>
        <hr />

        @foreach (Post post in Model)
        {
            <blockquote>
                <p>@post.text</p>
                <footer>@post.author.Name - @post.timeOfPost.ToString("dd.MM.yyyy HH:mm")</footer>
            </blockquote>
        }
    </div>
