@using SozialWeb.Models
@model IEnumerable<SozialWeb.Models.Post>
<script src="~/Scripts/ajax.js" type="text/javascript"></script>


@{
    ViewBag.Title = "TestHome";
}

<h2>Your page</h2>

@using (Html.BeginForm("AddPost", "Profile"))
{

    <fieldset>
        <legend></legend>
        <div class="form-group">
            <label for="" class="control-label">Text:</label>
            <br />
            <textarea name="text" cols="60" rows="5" placeholder="What's on your mind?"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" id="submitStatus" value="Senda inn" />
    </fieldset>
}

<div id="post-list">
    <hr />
    <h3>Athugasemdir <span class="badge">Model.count - todo</span></h3>
    <hr />

    @foreach (Post post in Model)
    {
        <blockquote>
            <p>@post.text</p>
            <footer>@post.author.Name - @post.timeOfPost.ToString("dd.MM.yyyy HH:mm")</footer>
        </blockquote>
    }
</div>


