@model SozialWeb.Models.Group

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <h4>Group</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit" ) |
    @Html.ActionLink("Back to List", "Index")
</p>
<p>
 
</p>